html,body {
	height: 100%;
	font-size: 14px;
	font-family: "Microsoft yahei","Century Gothic";
}
body,p,h1,h2,h3,h4,h5,h6,
dl,dt,dd,ul,ol,li,
form,input,textarea,button,
pre,img {
	margin: 0;
	padding: 0;
}
ul,ul li {
	list-style: none;
}
img {
	border: 0;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
input,textarea,select {
	font-size: 100%;
	outline: 0;
	resize: none;
	font-family: "Microsoft yahei";
}
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -300px;
	padding: 0 0 300px;
}
#footer {
	height: 300px;
	background-color: #E4E4E4;
}
#scrollUp {
  bottom: 20px;
  right: 20px;
  height: 38px;  /* Height of image */
  width: 38px; /* Width of image */
  background: url(../../Public/images/top.png) no-repeat;
}
.cl{
	height:10px;
	visibility: hidden;
	overflow:hidden;
	clear:both;
}
.wrap_box{
	width: 100%;
}
.cubes{
	background: url(../images/background/cubes.png);
}
.escheresque_ste{
	background: url(../images/background/escheresque_ste.png);
}
.use_your_illusion{
	background: url(../images/background/use_your_illusion.png);
}